.company-container h1 {
  text-align: center;

  margin-top: 70px;
  color: #000;

  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 70.4px;
  line-height: 1.5;
}
.company-container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
}

.company-icons {
  display: flex;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
}

.everythingall img {
  width: 100%;
  display: block;
}
@media (max-width: 432px) {
  .company-container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .company-container h1 {
    text-align: center;

    margin-top: 30px;
    color: #000;

    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 3rem;

    line-height: 1.5;
  }
  .company-icons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }
  .everythingall img {
    max-width: 100%;
    width: 70px;
  }
}

@media (max-width: 825px) {
  .company-icons {
    display: flex;
    gap: 2rem;
  }
}
